body {
  background: #3498db;
  font-size: 12px;
}

.slick-arrow {
  background: #c00000;
  font-size: 24px;
}

.slick-next {
  content: "\f105";
}

.slick-prev {
  content: "\f105";
}

.slick-dots li button {
  color: #d91a86;
}

.slick-slide {
  background: #fff;
  border-radius: 5px;
  border: #000 solid 1px;
  height: 100px;
  margin: 10px 10px 4px 10px;
  overflow: hidden;
  width: 250px;
}

.slick-slide b {
  background: #c00000;
  height: 20px;
  left: 10px;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.slick-slide img {
  height: 100%;
  position: relative;
  top: -15px;
}

.slick-slide p {
  color: #000;
  display: block;
  left: 100px;
  padding: 5px;
  position: relative;
  top: -120px;
  width: 150px;
}

.slickContainer {
  background: #1f6d38;
  color: #333;
  margin: 0 auto;
  padding: 40px;
  width: 80%;
}

#slideshowA {
  background: #c0c0c0;
  color: #fff;
  height: 120px;
  margin: auto;
  width: 90%;
}